<div *ngIf="loading" class="contenedor">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loading" class="container mt-5">
  <div class="d-flex justify-content-center mt-3">
    <div class="card card-titulo">
      <div class="card-body">
        <h2 class="titulo">LISTADO DE RESPUESTAS</h2>
      </div>
    </div>
  </div>
  <div *ngIf="listRespuestaUsuario.length" class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Fecha</th>
                <th>Puntos</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let respuesta of listRespuestaUsuario">
                <td>{{ respuesta.nombreParticipante }}</td>
                <td>{{ respuesta.fecha | date: "dd/MM/yyyy" }}</td>
                <td>{{ respuesta.puntosTotales }}</td>
                <td>
                  <i
                    [routerLink]="[
                      '/dashboard/respuestaUsuarioAdmin',
                      respuesta.id
                    ]"
                    class="fas fa-search"
                  ></i>
                  <i
                    (click)="deleteRespuestaUsuario(respuesta.id)"
                    class="fas fa-trash"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!listRespuestaUsuario.length" class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h5>No hay respuestas para mostrar</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <button
        [routerLink]="['/dashboard']"
        style="width: 100%"
        class="btn-principal mt-3 mb-3"
      >
        VOLVER
      </button>
    </div>
  </div>
</div>
