<div *ngIf="loading" class="contenedor">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!loading" class="container mt-3">
  <div class="d-flex justify-content-center mt-3">
    <h1 class="titulo contadorPregunta">{{ segundos }}</h1>
  </div>
  <div class="row mt-2">
    <div class="text-center">
      <h3 class="titulo">{{ titulo }}</h3>
      <div class="col-lg-6 offset-lg-3">
        <ul class="list-group mt-3">
          <li
            *ngFor="let rpta of respuestas; let idx = index"
            (click)="respuestaSeleccionada(rpta, idx)"
            [ngClass]="{ rpta_seleccionada: addClassOption(rpta) }"
            class="animate__animated animate__fadeIn list-group-item"
          >
            {{ rpta.descripcion }}
          </li>
        </ul>
        <button
          (click)="siguiente()"
          [disabled]="opcionSeleccionada == null"
          class="btn-principal btn-aceptar mt-3"
        >
          ACEPTAR
        </button>
      </div>
    </div>
  </div>
</div>
